main{
    width: 100%;        
  
  }
  
  .titulo{
      margin: 0;
      width: 100%;
      height: 405px;
      background: url('../styles/imagens/ilustra-blog.png') no-repeat 75% 0 #ffffff;
      padding-bottom: 30px;
      padding-top: 111px;
  }

  .titulo h1{
    color:#009688;
    width: 471px;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    padding-left: 154px;
    padding-bottom: 44px;
    margin-top: -60px;
    
    
}
.titulo p{
    color: #000000;
    width: 462px;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    padding-left: 154px;
    padding-bottom: 80px;

}
.container{
    width: 1349px;
    align-items: center;
}

  .text-blog{
    padding-top: 103px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 20px;
    padding-left: 128px;
    padding-right: 128px;
    background: #F6F6F6;
    
}

.text-blog img{
    width: 518px;
    height: 259px;
}

.text-blog h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #ff4081;
    padding-top: 20px;
    width: 455px;
    

}
.text-blog p{
    width: 516px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    padding-bottom: 40px;


}

@media only screen and (max-width: 1350px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width:1080px){
    header{
        margin-bottom: 0;
    }
    .titulo{
        background: none;
    }
    .titulo h1 {
        padding-left: 332px;
        margin:0;
    }
    .titulo p {
        padding-left: 332px;
        margin: 0;
    }
}
@media only screen and (max-width: 982px){
    .text-blog {
        padding: 0;
        margin: 0;
    }
      
    .text-blog img {
       width: 408px;
       height: 320px;
       padding:21;   
    }
    .text-blog p {
        width: 354px;
    }
    .titulo h1 {
        width:  412px;
        padding-left: 200px;
        padding-bottom: 17px;
        margin:0;
    }
    .titulo p {
        width: 526px;
        padding-left: 200px;
        margin: 0;
        
    }

}
@media only screen and (max-width: 727px){
    .text-blog img {
        width: 355px
    }
    .titulo h1 {
        width: 405px;
        padding-left: 91px;
        padding-bottom: 17px;
        margin:0;
    }
    .titulo p {
        width: 270px;
        padding-left: 125px;
        margin: 0;
        
    }
}
@media only screen and (max-width: 502px){
    .titulo h1 {
        width: 287px;
        padding-left: 84px;
        padding-bottom: 45px;
        margin: 0;
    }
    .titulo p {
        width: 290px;
        padding-left: 95px;
        margin: 0;
    }
    .text-blog h3{
        width: 344px;
    }

    .text-blog img{
        opacity: 0;
        width: 0;
        height: 0;
    }
}
@media only screen and (max-width: 381px){
    .titulo h1 {
        padding-left: 24px;
    
    }
    .titulo p {
        padding-left: 33px
    
    }
    .text-blog h3 {
        width: 296px;
    }
    .text-blog p {
        width: 288px;
    }
}    
